hr:first-of-type {
  margin-top: -7px;
}
body { 
font: 14px/1.5em "Fira Code";
 font-feature-settings: "calt" 1;
text-rendering: optimizeLegibility;
 }
.code {
  font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  width: 30em;
  margin: 5em auto;
  white-space: pre-wrap;
  word-break: break-all;
}
.light { font-weight: 300; }
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semibold { font-weight: 600; }
.bold { font-weight: 700; }
.variable { font-family: 'Fira Code VF'; font-variation-settings: 'wght' 400; }
i { font-style: normal; color: #c33; }
b { font-weight: inherit; color: #c33; }
#bottom {
  line-height: 25px;
}

hr:last-of-type {
  margin-bottom: 0;
}

body {
  overflow: hidden;
  line-height: 25px;
  font-family: "Times New Roman", serif;
  background-color: #111;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.main_art img {
  margin-top: -220px;
  max-width: 225px;
}

a {
  text-decoration: none;
  color: blue;
}

#wrapper {
  border-style: ridge;
  border-width: 5px;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#wrapper > h4 {
  margin-top: -10px;
}
